body, html {
    margin: auto 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(Dublin\ Ireland.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* NAV */

.main-nav {
    display: flex;
    list-style: none;
    font-size: 30px;
    margin: 0;
}

.push {
    margin-left: auto;
}

li {
    padding: 18px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

/* Layout */

@media only screen and (max-width: 600px) {
    #p {
        position: relative;
        top: -150px;
    }
    #github {
        position: relative;
        top: -150px;
    }
    #insta {
        position: relative;
        top: -150px;
    }
    #btn {
        position: relative;
        top: -150px;
    }
    #home {
        position: relative;
        top: -150px;
    }
    #h1 {
        font-size: 9rem;
    }
}

#h1 {
    font-size: 8rem;
    color: rgb(20, 19, 19);
}

#h12 {
    font-size: 3rem;
    color: rgb(20, 19, 19);
}

#p {
    color: white;
    font-size: 25px;
}

#github {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 500ms;
}

#github:hover {
    transform: scale(1.2);
}

.buffer {
    height: 10rem;
}

#insta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 500ms;
}

#insta:hover {
    transform: scale(1.2);
}

#home {
    font-size: 30px;
}

/* BUTTON */
  
.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}
  
.btn-primary {
    background-color: #F05F44;
    border-color: #F05F44;
}
  
.btn-primary:hover {
    background-color: #ee4b08;
    border-color: #F05F44;
    border-width: 4px;
}
  
.btn-xl {
    padding: 1rem 2rem;
}
